*{
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    color: #2874f0;
    margin-top: 20px;
    margin-bottom: 8px;
}
.hamroform{
    text-align: center;
    align-items: center;

}

.hamroform input{
    width: 214px;
    height: 22px;
    margin: 3px;
    border: 3px solid black;
    border-radius: 13px;
    padding: 8px;

}

.btn{
    height: 24px;
    width: 57px;
    border: 2px solid black;
    color: #2874f0;
    border-radius: 6px;
}
.error{
    color: red;
    font-size:22px;
}

.success{
    color: green;
    font-size: 22px;
    margin-top: 10px;
}